<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <h1>{{title}}</h1>
        <p>{{msg}}</p>
    </div>
    {{#if detail}}
    <div class="section">
        <h1>Detail</h1>
        <pre>{{detail}}</pre>
    </div>
    {{/if}}


    <div class="section">
    <a href="/"><button class="btn" type="button"><span>Home</span></button></a>
    </div>
</div>