<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <p>Welcome to {{brand}}</p>
    </div>

    <div class="section">
    <a href="/welcome"><button class="btn" type="button"><span>Login</span></button></a>
    </div>
</div>
<script src="https://global.oktacdn.com/okta-auth-js/4.0.0/okta-auth-js.min.js" type="text/javascript"></script>
<script>
    var config = {
        issuer: "{{{issuer}}}",
    };

    var authClient = new OktaAuth(config);  
    authClient.session.exists()
    .then(function(exists) {
        if (exists) {
            //user already has a session redirect in
            window.location.replace("/welcome");
        }
    });
</script>